body
{
    background-color: rgb(0, 0, 0);
}

.mainBox{
    background-color: none;
    width: 50%;
    margin-left: 25%;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 25px;
}


.mainBox input{
    width: 80%;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
    border:none;
    border-radius: 5px;
}
.mainBox h2{
    margin-left: -10%;
}
.mainBox button{
    width: 85%;
    height: auto;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border:none;
    background-color: rgb(4, 106, 238);
    color: white;
    cursor: pointer;
}

.mainBox button:hover{
    opacity: 0.9;
}

